<ion-content>
  <div class="question_slider">
    <div class="container orange larger">
      <ion-slides
        #slides
        pager="true"
        [options]="slideOpts"
        (ionSlideDidChange)="slideChanged()"
      >
        <ion-slide>
          <h1>Em qual país você quer fazer seu intercâmbio?</h1>
          <div class="circle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <ion-avatar>
              <img src="../../assets/img/irlanda.png" />
            </ion-avatar>
          </div>
          <h1>Irlanda</h1>
        </ion-slide>
        <ion-slide>
          <h1>Em qual país você quer fazer seu intercâmbio?</h1>
          <div class="circle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <ion-avatar>
              <img src="../../assets/img/canada.png" />
            </ion-avatar>
          </div>
          <h1>Canadá</h1>
        </ion-slide>
        <ion-slide>
          <h1>Em qual país você quer fazer seu intercâmbio?</h1>
          <div class="circle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <ion-avatar>
              <img src="../../assets/img/australia.png" />
            </ion-avatar>
          </div>
          <h1>Austrália</h1>
        </ion-slide>
        <ion-slide>
          <h1>Em qual país você quer fazer seu intercâmbio?</h1>
          <div class="circle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <ion-avatar>
              <img src="../../assets/img/nvzelandia.png" />
            </ion-avatar>
          </div>
          <h1>Nova Zelândia</h1>
        </ion-slide>
        <ion-slide>
          <h1>Em qual país você quer fazer seu intercâmbio?</h1>
          <div class="circle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <ion-avatar>
              <img src="../../assets/img/usa.png" />
            </ion-avatar>
          </div>
          <h1>Estados Unidos</h1>
        </ion-slide>
        <ion-slide>
          <h1>Em qual país você quer fazer seu intercâmbio?</h1>
          <div class="circle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <ion-avatar>
              <img src="../../assets/img/africa-do-sul.png" />
            </ion-avatar>
          </div>
          <h1>África do Sul</h1>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="container smaller">
      <ion-progress-bar value="0.55"></ion-progress-bar>

      <div class="padding">
        <div class="info">
          <div>
            <ion-icon name="bulb"></ion-icon>
          </div>
          <p *ngIf="slideIndex === 0" class="animated fadeIn">
            <strong>Você sabia</strong> que Dublin, a capital da Irlanda, possui
            wi-fi gratuito nos ônibus, o que pode ser de grande ajuda para quem
            está recém chegando na cidade.
          </p>
          <p *ngIf="slideIndex === 1" class="animated fadeIn">
            <strong>Você sabia</strong> que a cidade de Niagara Falls, na divisa
            do Canadá com os EUA, fica a cerca de 1h de Toronto, entre os lagos
            Erie e Ontário. Tudo ali gira em torno das enormes cataratas, que
            despejam água de cerca de 60m de altura, formando arco-íris e nuvens
            de vapor que refrescam os visitantes.
          </p>
          <p *ngIf="slideIndex === 2" class="animated fadeIn">
            <strong>Você sabia</strong> que é possível comer carne de canguru na
            Austrália?! Pois é! Por mais estranho que possa parecer, o hábito
            (criado há anos pelos aborígenes) que é símbolo do país vem
            crescendo entre os australianos nos últimos anos.
          </p>
          <p *ngIf="slideIndex === 3" class="animated fadeIn">
            <strong>Você sabia</strong> que na Nova Zelandia cerca de 30% do
            país é coberto de florestas naturais.
          </p>
          <p *ngIf="slideIndex === 4" class="animated fadeIn">
            <strong>Você sabia</strong> que "Grand Central Terminal" localizado
            em New York é o maior terminal de trens do mundo e tem uma
            arquitetura impressionante, que já serviu de cenário para mais de 40
            filmes. Uma verdadeira maravilha da engenharia: 44 plataformas com
            67 trilhos bem no meio de Manhattan.
          </p>
          <p *ngIf="slideIndex === 5" class="animated fadeIn">
            <strong>Você sabia</strong> que fazer intercâmbio na África do Sul é
            mais em conta do que fazer um intercâmbio em países da Europa, EUA
            ou Canadá. Claro, tudo depende do nível de escola que você vai
            escolher.
          </p>
        </div>
        <ion-button
          size="large"
          expand="full"
          shape="round"
          color="laranjatop"
          class="animated bounceIn"
          (click)="continue()"
        >
          <span *ngIf="!continuarLoading && !sucesso">Continuar</span>
          <ion-spinner
            name="crescent"
            *ngIf="continuarLoading && !sucesso"
          ></ion-spinner>
          <ion-icon
            name="thumbs-up"
            *ngIf="sucesso"
            class="animated slideInUp"
          ></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
