.question_slider {
  display: flex;
  flex-flow: column;
  height: 100vh;
  .container {
    height: 50%;
    &.green {
      background: var(--ion-color-verdetop);
      ion-slides {
        ion-slide {
          .circle {
            div {
              &:nth-child(3) {
                background: var(--ion-color-verdetop);
              }
            }
          }
        }
      }
    }
    &.blue {
      background: var(--ion-color-azultop);
      ion-slides {
        ion-slide {
          .circle {
            div {
              &:nth-child(3) {
                background: var(--ion-color-azultop);
              }
            }
          }
        }
      }
    }
    &.purple {
      background: var(--ion-color-roxotop);
      ion-slides {
        ion-slide {
          .circle {
            div {
              &:nth-child(3) {
                background: var(--ion-color-roxotop);
              }
            }
          }
        }
      }
    }
    &.pink {
      background: var(--ion-color-rosatop);
      ion-slides {
        ion-slide {
          .circle {
            div {
              &:nth-child(3) {
                background: var(--ion-color-rosatop);
              }
            }
          }
        }
      }
    }
    &.orange {
      background: var(--ion-color-laranjatop);
      ion-slides {
        ion-slide {
          .circle {
            div {
              &:nth-child(4) {
                background: var(--ion-color-laranjatop);
              }
            }
            > ion-avatar {
              img {
                width: 90%;
                height: 90%;
              }
            }
          }
        }
      }
    }
    ion-slides {
      height: 100%;
      --bullet-background: var(--ion-color-dark);
      --bullet-background-active: var(--ion-color-dark);
      ion-slide {
        flex-flow: column;
        justify-content: flex-start;
        h1 {
          color: var(--ion-color-light);
          margin-bottom: 1.4rem;
          font-size: 1.2rem;
          padding: 0 1.4rem;
        }
        .circle {
          position: relative;
          width: 65%;
          height: 65%;
          div {
            position: absolute;
            background: #fff;
            border-radius: 50%;
            &:nth-child(1) {
              top: 0;
              left: 0;
              opacity: 0.25;
              width: 100%;
              height: 100%;
              z-index: 100;
            }
            &:nth-child(2) {
              top: 8%;
              left: 8%;
              opacity: 0.5;
              width: 84%;
              height: 84%;
              z-index: 1000;
            }
            &:nth-child(3) {
              top: 16%;
              left: 16%;
              opacity: 0.75;
              width: 68%;
              height: 68%;
              z-index: 10000;
            }
            &:nth-child(4) {
              top: 24%;
              left: 24%;
              width: 52%;
              height: 52%;
              z-index: 100000;
            }
            &.datas {
              background: var(--ion-color-azultop);
              border: 2px solid #fff;
              z-index: 9999999;
              display: flex;
              align-items: center;
              justify-content: center;
              ion-button {
                width: 80%;
                span {
                  color: #fff;
                }
              }
              &.active {
                background: #fff;
                border: 2px solid var(--ion-color-azultop);
                ion-button {
                  width: 80%;
                  span {
                    color: var(--ion-color-azultop);
                  }
                }
              }
            }
            &.dia {
              top: 0;
              left: 0;
              width: 25%;
              height: 25%;
            }
            &.mes {
              bottom: 1%;
              left: -5%;
              width: 30%;
              height: 30%;
            }
            &.ano {
              bottom: 10%;
              right: -8%;
              width: 35%;
              height: 35%;
            }
            &.hospedagens {
              background: #fff;
              border: 5px solid #fff;
              z-index: 9999999;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30%;
              height: 30%;
              img {
                width: 100%;
                height: 100%;
              }
              &.active {
                border: 5px solid #ce5937;
              }
              &.casa {
                top: 10%;
                right: -9%;
              }
              &.estudantil {
                right: -2%;
                bottom: 3%;
              }
              &.ap {
                top: -7%;
                left: 25%;
              }
              &.hotel {
                top: 27%;
                left: -17%;
              }
              &.campus {
                bottom: -3%;
                left: 10%;
              }
            }
            &.generos {
              background: #fff;
              border: 5px solid #fff;
              z-index: 9999999;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30%;
              height: 30%;
              img {
                width: 100%;
                height: 100%;
              }
              &.active {
                border: 5px solid #ce5937;
              }
              &.masculino {
                right: -4%;
                bottom: 0%;
              }
              &.feminino {
                top: 0%;
                left: -4%;
              }
            }
          }
          > ion-avatar {
            position: absolute;
            top: 26%;
            left: 26%;
            width: 48%;
            height: 48%;
            z-index: 1000000;
            --border-radius: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 100%;
              height: 100%;
            }
            h2.number {
              margin: 0;
              font-size: 3.4rem;
              font-weight: bold;
              text-shadow: 0px -4px 2px #ce5937;
            }
            p.text {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
    .padding {
      padding: 2rem;
      height: 100%;
      justify-content: space-between;
      display: flex;
      flex-flow: column;
      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
          margin-right: 2rem;
          ion-icon {
            font-size: 2rem;
          }
        }
        p {
          font-size: 0.9rem;
          margin: 0;
        }
      }
      ion-button {
        --background: var(--ion-color-verdetop);
      }
    }
    &.larger {
      height: 55%;
      ion-slides {
        ion-slide {
          h1 {
            margin-bottom: 1.2rem;
            margin-top: 0.8rem;
          }
        }
      }
    }
    &.smaller {
      height: 44%;
    }
  }
}

.ion-color-verdetop {
  --ion-color-base: #8bc713;
  --ion-color-base-rgb: 139, 199, 19;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #7eb511;
  --ion-color-tint: #92d213;
}

.ion-color-azultop {
  --ion-color-base: #274580;
  --ion-color-base-rgb: 39, 69, 128;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #233e73;
  --ion-color-tint: #2c4d8e;
}

.ion-color-roxotop {
  --ion-color-base: #791a89;
  --ion-color-base-rgb: 121, 26, 137;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #721882;
  --ion-color-tint: #851c96;
}

.ion-color-rosatop {
  --ion-color-base: #ca126a;
  --ion-color-base-rgb: 202, 18, 106;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #b1135f;
  --ion-color-tint: #df1c7a;
}

.ion-color-laranjatop {
  --ion-color-base: #f5a623;
  --ion-color-base-rgb: 245, 166, 35;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #efa222;
  --ion-color-tint: #f7ad32;
}
